/* You can add global styles to this file, and also import other style files */
@import '../src/assets/styles/reset';

body{
  margin: $margin;
  padding: $padding;
  background: $backgroud;
  background-repeat: $backgroud-repeat;
}
