@import "../../../../assets/styles/variables";

header {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  padding: 8px;
  background: $primary;
  font-family: $font-family;
  font-size: $header-size;
}
