@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

header {
  display: flex;
  justify-content: center;
  padding: 8px;
  background: $primary;
  font-family: $font-family;
  font-size: $header-size;
}

.container {
  margin: 16px;
}

.accordion {
  padding: 8px;
}

@include screen-laptop {
  .container{
    margin: 16px auto;
    width: 60%;
  }
}