@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

details {
  display: flex;
  justify-content: center;
  padding: 8px;
  background: $primary-dark;
  font-family: $font-family;
  font-size: $title-size;
  text-decoration: none;
  cursor: pointer;
}

summary {
  display: flex;
  justify-content: center;
}

summary::-webkit-details-marker {
  display: none;
}

@keyframes open {
  0% {opacity: 0; margin-left: -20px}
  100% {opacity: 1; margin-left: 0px}
}

details[open] {
  background: $secondary;
}

details[open] summary ~ * {
  background: $primary-light;
  animation: open .5s ease-in-out;
  cursor: default;
}

.img-logo {
  display: flex;
  justify-content: center;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  padding: 16px;
  border-radius: 40%;
}

.item-container {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin: 4px;
  padding: 8px;
  font-size: $subtitle-size;
}
span, li {
  margin: 4px;
  padding: 8px;
  border: 2px dashed $secondary-dark;
  font-size: $text-size;
}

.engine-description {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.img-car {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 80%;
  margin: 16px auto;
  border: 2px dashed $secondary-dark;
  border-radius: 20%;

}

hr {
  border: 4px dotted $secondary-dark;
}

@include screen-laptop {
  .img-car{
    height:300px;
    width: 500px;
  }

  .img-logo {
    height: 160px;
    width: 160px;
  }
}