<!--<div class="accordin" *ngFor="let vehicle of vehicles">-->
<details [open]="isOpen">
  <summary>{{vehicles.categoryName}}</summary>
  <div class="body" *ngFor="let item of vehicles.vehicleCollection">
    <span>{{item.brand}}</span>
    <span>{{item.model}}</span>
    <span>{{item.price}}</span>
    <span>{{item.releaseYear}}</span>
    <span>{{item.weight}}</span>
    <span>{{item.engineDescription}}</span>
    <img [src]="item.logo">
    <img [src]="item.image">
  </div>
  <p></p>
</details>
<!--</div>-->