/* You can add global styles to this file, and also import other style files */
@import '../src/assets/styles/reset';

body{
  margin: $margin;
  padding: $padding;
  background: url('../src/assets/images/bg-texture.png');
  background-repeat: repeat;
}
