<div class="container">
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <label for="name">Name: </label>
    <input type="text" id="name" #name>
    <label for="lastName">Last name: </label>
    <input type="text" id="lastName" #lastName>
    <label for="email">Email: </label>
    <input type="email" id="email" #email>
    <label for="password">Password: </label>
    <input type="password" id="password" #password>
    <label for="confirmPass">Confirm password: </label>
    <input type="password" id="confirmPass" #confirmPass>
    <label for="birthDate">Birth date: </label>
    <input type="date" id="birthDate" #birthDate>
    <label for="phone">Telephone number: </label>
    <input type="number" id="phone" #phone>
    <label for="url">Personal site URL: </label>
    <input type="url" id="url" #url>
    <label for="aboutMe">About me: </label>
    <textarea id="aboutMe" name="aboutMe" cols="30" rows="10">
    </textarea>
    <label>Genre:</label>
    <input type="radio">
    <label>Country:</label>
    <select name="country" id="country"></select>
    <label>State:</label>
    <select name="state" id="state"></select>
    <label>I Agree</label>
    <input type="checkbox">
    <button type="submit">Submit</button>
  </form>
</div>